[submodule "MvvmCross-Binaries"]
	path = MvvmCross-Binaries
	url = https://github.com/slodge/MvvmCross-Binaries
	path = JabbR.Client
	url = https://github.com/Redth/JabbR.Client
[submodule "LegacyBar"]
	path = LegacyBar
	url = https://github.com/Redth/LegacyBar.git
[submodule "JabbR"]
	path = JabbR
	url = https://github.com/Redth/JabbR.git
[submodule "SlidingMenuSharp"]
	path = SlidingMenuSharp
	url = https://github.com/Redth/SlidingMenuSharp.git
